
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}


/* share css  */

.btn{
    background-color: #E02C6D;
    border: none;
    color: #FFFFFF;
    padding: 10px 24px;
    border-radius: 41px;
    font-weight: bold;
}


.display-flax{
    display: flex;
}


/* navber css */
.navber{
    margin: 0 auto;
    width: 80%;
    max-width: 1440px;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}
.nav-item{
    list-style: none;
    gap: 30px;
}
.nav-name{
    text-decoration: none;
    color: #3A3A3A;
}
.nav-name .fa-solid {
    color: #000000;
}


/* Header css */
.banner{
    width: 80%;
    max-width: 1440px;
    margin: 50px auto 0 auto;
    justify-content: space-between;
    align-items: center;   
}
.banner-contant{
    max-width: 570px;
}
.banner-title{
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;
    margin-bottom: 16px;
}
.baneer-bio{
    color: #3A3A3A;
    margin: 0;
    margin-bottom: 16px;
}

.img-contant{
    background-image: url(/images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;  
    background-position: center;
}
.img-contant img {
    width: 100%;
    max-width: 380px;         /* চাইলে size control */
}
.sponsors-company{
    width: 65%;
    max-width: 1110px;
    margin: 80px auto;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    /* border: 1px solid red; */
    gap: 60px;
    padding: 36px 61px;
}
.sponsors-company{
  position: relative;
}

.sponsors-company::after{
  content: "";
  position: absolute;
  bottom: 0;              /* top চাইলে top: 0; */
  left: 50%;
  transform: translateX(-50%);
  width: 120px;           /* line এর length */
  height: 2px;
  background: red;
}

.sponsors-company img{
    width: 90%;
    
}
